.DS_Store
.vscode/settings.json

#*.js
!**/mongo-init/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

**/.tmp

# package dependency files
mern-stack/gateway-service/package-lock.json
mern-stack/react-app/package-lock.json
mern-stack/survey-service/package-lock.json
mern-stack/user-service/package-lock.json

